:root {
    --primary-color: #A52A2A;
    --secondary-color: #228B22;
    --accent-color: #FFD700;
    --background-color: #F5F5DC;
    --text-color: #36454F;
    --heading-font: 'Mountains of Christmas', cursive;
    --body-font: 'Lato', sans-serif;
  }
  